.tabsList {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--main);
}

.emptyMessage {
  padding: 20px;
  font-size: 16px;
  color: #1A1A1A;
  text-align: center;
}
