.footer {
  padding-top: 64px;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 40px 16px;
  margin: 0;
}

.logoFooter svg {
  height: 24px;
  width: 69px;
  fill: var(--main);
}

.divider {
  stroke-width: 1px;
  stroke: var(--gray);
  margin: 0;
}

.copy {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #1a1a1a;
  padding-top: 40px;
  padding-bottom: 16px;
}

.networkLinks {
  list-style: none;
  display: flex;
  gap: 16px;
  padding: 0 16px 0 0;
  margin: 0;
}

.networkLinks a {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--gray);
  border-radius: 100px;

  width: 36px;
  height: 36px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.networkLinks a:hover {
  background-color: #000;
  transform: scale(1.2);
}
.networkLinks a:hover svg {
  fill: #fff;
}

.networkLinks svg {
  fill: var(--main);
  width: 20px;
  height: 20px;
  transition: fill 0.3s ease, transform 0.3s ease;
}

.logoFooter {
  display: inline-block;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.logoFooter:active {
  transform: scale(1.2);
}

.logoFooter:focus,
.logoFooter:hover {
  outline: none;
}

/* ТОЧКИ ПЕРЕЛОМУ */

/* Tablet */
@media (min-width: 768px) {
  .footer {
    padding-top: 100px;
  }
  .inner {
    padding: 0 0 46px 32px;
    margin: 0;
  }

  .logoFooter svg {
    width: 83px;
    height: 28px;
  }
  .networkLinks {
    padding: 0 32px 0 0;
  }

  .networkLinks a {
    width: 40px;
    height: 40px;
  }

  .copy {
    padding-bottom: 32px;
  }
}

/* Desktop */
@media (min-width: 1440px) {
  .footer {
    padding-top: 120px;
  }
  .inner {
    padding: 0 0 40px 80px;
    margin: 0;
  }

  .logoFooter svg {
    width: 83px;
    height: 28px;
  }

  .networkLinks {
    padding: 0 80px 0 0;
  }

  .networkLinks a {
    width: 40px;
    height: 40px;
  }
  .copy {
    padding-bottom: 40px;
  }
}
