.btn {
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -2%;
  font-size: 14px;
  border: none;
  height: 48px;
}

.btnPrimary {
  background-color: #1a1a1a;
  color: white;
}

.containerMainArea {
  display: flex;
  flex-direction: column;
  row-gap: 64px;
}

.userInfoWrapper {
  width: 100%;
  max-width: 394px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 1024px) {
  .containerMainArea {
    flex-direction: row;
    column-gap: 40px;
  }
}
