.container {
  display: flex;
  flex-direction: column;
  padding: 126px 16px 0 16px;
  gap: 32px;
}

.containerMainArea {
  display: flex;
  flex-direction: column;
  row-gap: 64px;
}

.userInfoWrapper {
  width: 100%;
  max-width: 394px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 28px;
  line-height: 114%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--main);
}

.subtitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: -0.02em;
  color: var(--gray);
  max-width: 343px;
  padding-top: 16px;
}

.btn {
  border: none;
  border-radius: 30px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: -2%;
  text-transform: uppercase;
}

.btnPrimary {
  background-color: #1a1a1a;
  color: #fff;
}

.btnPrimary:hover {
  background-color: var(--gray);
}

/* Медіа‑запити */
@media screen and (min-width: 768px) {
  .container {
    padding: 150px 32px 0 32px;
    gap: 40px;
  }

  .containerMainArea {
    align-items: center;
    row-gap: 80px;
  }

  .title {
    font-size: 40px;
    line-height: 110%;
  }

  .subtitle {
    font-size: 16px;
    line-height: 150%;
    max-width: 443px;
    padding-top: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 170px 80px 0 80px;
  }

  .containerMainArea {
    flex-direction: row;
    align-items: flex-start;
    column-gap: 40px;
  }
}
