.filters {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.select {
  padding: 16px 12px;
  border-radius: 50px;
  border: 1px solid #ccc;
  font-size: 16px;
  text-transform: none;
  background: white;
  color: var(--main);
}

@media only screen and (min-width: 768px) {
  .filters {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1440px) {
  .filters {
    flex-direction: column;
    flex-grow: 1;
  }
}
